body{
  color: #40514E;
  margin: 0;
  text-align: center;
   font-family: 'Merriweather', serif;


}
h1{
  color: #66BFBF;
  text-align: center;
  font-size: 5.625rem;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
font-family: 'Neucha', cursive;

}
h2{
  color: #66BFBF;
  font-size: 2.5rem;
font-family: 'Montserrat', sans-serif;
font-weight: normal;
}
h3
{
color: #66BFBF;
font-family: 'Montserrat', sans-serif;
}
form{
  margin:20px auto;
  width:320px;
   color: #40514E;
   text-align: center;
}
input{

  padding:10px;
  font-size: 1.2rem;

}
input[type="text"]{

  display: block;
  margin-bottom: 25px;
  position: relative;
  left: 30px;

  border:2px solid steelblue;
}
input[type="password"]{

  display: block;
  margin-bottom: 25px;
  position: relative;
  left: 30px;

  border:2px solid steelblue;
}
input[type="email"]{

  display: block;
  margin-bottom: 25px;
  position: relative;
  left: 30px;

  border:2px solid steelblue;
}
.Submit {
background:#11cdd4;
background-image: -webkit-linear-gradient(top,#11cdd4,#11999e);
background-image: -moz-linear-gradient(top,#11cdd4,#11999e);
background-image: -ms-linear-gradient(top,#11cdd4,#11999e);
background-image: -o-linear-gradient(top,#11cdd4,#11999e);
background-image: linear-gradient(to bottom,#11cdd4,#11999e);
 background-image:  -webkit-gradient(top, #fefefe, #dddddd);
-webkit-border-radius:8;
-moz-border-radius:8;
border-radius: 8px;
font-family: Arial;
color:#ffffff;
font-size: 20px;
padding: 10px 20px 10px 20px;
text-decoration: none;

}
.Submit:hover {
background: #30e3cb;
background-image: -webkit-linear-gradient(top,#30e3cb,#2bc4ad);
background-image: -moz-linear-gradient(top,#30e3cb,#2bc4ad);
background-image: -ms-linear-gradient(top,#30e3cb,#2bc4ad);
background-image: -o-linear-gradient(top,#11cdd4,#2bc4ad);
background-image: linear-gradient(to bottom,#11cdd4,#2bc4ad);
 background-image:  -webkit-gradient(top, #fefefe, #dddddd);

}
.Have_Adminstraion{
  margin: 0 auto;
  width: 50%;
}
